<h1> <%= @film.title %> </h1>
<<h2>Rating: film.rating</h2>
<p> Year: <%= @film.year %> </p>
<p> Description: <%= @film.description %> </p>
<p> Cast: <%= @film.cast %> </p>
<p> Watched? <%= @film.watched %> </p>

<%= link_to 'Edit', edit_film_path(@film) %>
<%= link_to "Back", films_path %>
