<h1> <%= @film.title %> </h1>
<h2> Year: <%= @film.year %> </h2>
<p> Description: <%= @film.description %> </p>
<p> Cast: <%= @film.cast %> </p>
<p> Watched? <%= @film.watched %> </p>

<%= link_to "Back", films_path %>
