<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Contrail+One' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "myMDB | Your personal movie database" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
          <strong><h1>
            <%= link_to "myMDB", films_path %>
          </h1></strong>
            <h4>Your personal movie database</h4>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%= form_tag(films_path, :method => "get", id: "search-form", style: "background-color:white") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Films" %>
            <%= submit_tag "Search", :name => nil, style: "background-color:white" %>
          <% end %>
        </ul>
      </div>
   </div>

   <div class="row column">
   <% flash.each do |name, msg| %>
     <% if msg.is_a?(String) %>
       <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
         <%= content_tag(:div, msg, class: "alert alert-#{name}", style: "color:red") %>
       </div>
     <% end %>
   <% end %>
 </div>

   <div class="row column">
     <%= yield %>
   </div>
  </body>
</html>
