<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><h1>myMDB</h1></li></ul>
        <ul class="vertical medium-horizontal menu">
        <li>
          <% if current_user %>
            <%= link_to "Add a Movie", new_film_path, class: "nav-link" %>
          <% end %>
        </li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %></li>
       </ul>
     </div>
   </div>

   <div class="row column">
   <% flash.each do |name, msg| %>
     <% if msg.is_a?(String) %>
       <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
         <%= content_tag(:div, msg, class: "alert alert-#{name}", style: "color:white") %>
       </div>
     <% end %>
   <% end %>
 </div>

   <div class="row column">
     <%= yield %>
   </div>
  </body>
</html>
